{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% bootstrap_css %} {% bootstrap_javascript %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'images/logo.svg' %}" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>


              <form method="POST" class="pt-3">
                {% csrf_token %}
                {% if form.errors %}
                  <div class="alert alert-danger">
                    <strong>Oops! There was an error:</strong>
                    <ul>
                      {% for field, error in form.errors.items %}
                        {% if field != NON_FIELD_ERRORS %}
                          <li>{{ field }}: {{ error }}</li>
                        {% else %}
                          <li>{{ error }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                <div class="form-group">
                  {{ form.name.label_tag }}
                  {{ form.name }}
                </div>

                <div class="form-group">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>

                <div class="form-group">
                    {{ form.company_email_domain.label_tag }}
                    {{ form.company_email_domain }}
                </div>

                <div class="form-group">
                    {{ form.admin_fname.label_tag }}
                    {{ form.admin_fname }}
                </div>

                <div class="form-group">
                    {{ form.admin_lname.label_tag }}
                    {{ form.admin_lname }}
                </div>

                <div class="form-group">
                    {{ form.admin_username.label_tag }}
                    {{ form.admin_username }}
                </div>

                <div class="form-group">
                    {{ form.admin_email.label_tag }}
                    {{ form.admin_email }}
                </div>

                <div class="form-group">
                    {{ form.admin_phone_number.label_tag }}
                    {{ form.admin_phone_number }}
                </div>

                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>

                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>

                <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      I agree to all Terms & Conditions
                    </label>
                  </div>
                </div>
                {% comment %} {% bootstrap_form form %} {% endcomment %}
                <div class="mt-3">
                  <input class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Sign up" type="submit">
                </div>

                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="{% url 'accounts:login' %}" class="text-primary">Login</a>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>
