{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">

    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome, {{user.organization.admin_fname}}</h3>
          </div>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-tale">
          <div class="card-body d-flex justify-content-center align-items-center">
            <h1 class=" mb-2 display1"> <a style="color: inherit;" href="{{ user.organization.get_absolute_url }}">{{ user.organization.name }}</a></h1>
          </div>
        </div>
      </div>

      <div class="col-md-6 grid-margin transparent">

        <div class="row">

          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body d-flex justify-content-center align-items-center">
                <p class="mb-4"></p>
                <p class="fs-30 mb-2"><a style="color: inherit;" href="{% url 'organization:staff_create' org_slug=user.organization.slug %}">Create Staff</a></p>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body d-flex justify-content-center align-items-center">
                <p class="mb-4"></p>
                <p class="fs-30 mb-2"><a style="color: inherit;" href="{% url "organization:department_list" org_slug=user.organization.slug %}">Departments</a></p>
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
            <div class="card card-light-blue">
              <div class="card-body d-flex justify-content-center align-items-center">
                <p class="mb-4"></p>
                <p class="fs-30 mb-2"><a style="color: inherit;" href="{% url 'organization:job_title_list' org_slug=user.organization.slug %}">Job Titles</a></p>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body d-flex justify-content-center align-items-center">
                <p class="mb-4"></p>
                <p class="fs-30 mb-2"><a style="color: inherit;" href="{% url 'organization:query_list' org_slug=user.organization.slug %}">Queries</a></p>
                <p></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-0">All Staff</p>
            <div class="table-responsive">
              <table class="table table-striped table-hover table-borderless">
                <thead>
                  <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Work Email</th>
                    <th>Phone</th>
                    <th>Job Title</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>View</th>

                  </tr>  
                </thead>
                <tbody>
                  {% for staff in staff_list %}
                    <tr>
                      <td> {{ staff.last_name }} </td>
                      <td> {{ staff.first_name }} </td>
                      <td><span id="email-{{ staff.pk }}">{{ staff.work_email }}</span> </td>
                      <td><span id="phone-{{ staff.pk }}">{{ staff.phone_number }}</span></td>
                      <td> {{ staff.job_title.role }} </td>
                      <td> {{ staff.dept.name }} </td>
                      <td class="font-weight-medium"><a 
                        href="{% url 'organization:status_update_form' org_slug=user.organization.slug pk=staff.pk %}" 
                        class="badge {% if staff.staff_status == "Active" %}
                        badge-success
                        {% elif staff.staff_status == "Exited" %}
                        badge-danger
                        {% elif staff.staff_status == "Suspended" %}
                        badge-warning
                        {% else %}
                        badge-info
                        {% endif %}">
                        {{ staff.staff_status }}</a></td>
                      <td><a class="badge badge-primary" href="{{ staff.get_absolute_url }}">View</a></td>

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  
  <script>
    function copyToClipboard(text) {
      // Create a temporary input element
      const input = document.createElement('input');
      input.setAttribute('value', text);
      document.body.appendChild(input);
  
      // Select the text field
      input.select();
      input.setSelectionRange(0, 99999); // For mobile devices
  
      // Copy the text inside the text field
      document.execCommand('copy');
  
      // Remove the temporary input element
      document.body.removeChild(input);
    }
  
    // Add event listeners to email and phone number cells
    const emailCells = document.querySelectorAll('.table td:nth-child(3)');
    const phoneCells = document.querySelectorAll('.table td:nth-child(4)');
  
    emailCells.forEach(cell => {
      const email = cell.textContent;
      cell.innerHTML += ` <a href="#" class="copy-link" onclick="copyToClipboard('${email}')"><i class="mdi mdi-content-copy"></i></a>`;
    });
  
    phoneCells.forEach(cell => {
      const phone = cell.textContent;
      cell.innerHTML += ` <a href="#" class="copy-link" onclick="copyToClipboard('${phone}')"><i class="mdi mdi-content-copy"></i></a>`;
    });
  </script>
  

{% endblock %}