{% extends 'base.html' %}

{% block content %}
<h1>Job Titles</h1>

<div>

    <ul>
        {% for job_title in job_title_list %}

        <li>
            <h2>{{ job_title.role }}</h2>
            <p>{{ job_title.description }}</p>
            <p><a class="btn btn-primary" href="{% url 'organization:job_title_update' org_slug=user.organization.slug pk=job_title.pk %}">Update</a></p>    
        </li>
        <br>
        {% endfor %}

    </ul>

    <a class="btn btn-success mr-2 mt-5" href="{% url 'organization:job_title_create' org_slug=user.organization.slug %}"> Create New Job Title </a>
</div>

{% endblock%}