{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
            <h4 class="card-title">Query Creation Form</h4>
            <p class="card-description">
                Enter Details to create new query
            </p>
            <form method="POST" class="forms-sample">

                {% csrf_token %}
                {% if form.errors %}
                  <div class="alert alert-danger">
                    <strong>Oops! There was an error:</strong>
                    <ul>
                      {% for field, error in form.errors.items %}
                        {% if field != NON_FIELD_ERRORS %}
                          <li>{{ field }}: {{ error }}</li>
                        {% else %}
                          <li>{{ error }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <div class="form-group">
                    {{ form.staff.label_tag }}
                    {{ form.staff }}
                </div>
                
                <div class="form-group">
                  {{ form.query_requester.label_tag }}
                  {{ form.query_requester }}
                </div>

                <div class="form-group">
                    {{ form.reason.label_tag }}
                    {{ form.reason }}
                </div>

                
                <input class="btn btn-primary mr-2" value="Submit" type="submit">
                <a href="{% url 'organization:admin_dashboard' org_slug=user.organization.slug %}" class="btn btn-danger">Cancel</a>

                

            </form>
        </div>
    </div>
</div>


{% endblock %}