{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-9 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
            <h4 class="card-title">Create Staff</h4>
            <p class="card-description">
                Create Staff by filling in the form fields
            </p>
            <form method="POST" class="forms-sample">

                {% csrf_token %}
                {% if form.errors %}
                  <div class="alert alert-danger">
                    <strong>Oops! There was an error:</strong>
                    <ul>
                      {% for field, error in form.errors.items %}
                        {% if field != NON_FIELD_ERRORS %}
                          <li>{{ field }}: {{ error }}</li>
                        {% else %}
                          <li>{{ error }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.gender.label_tag }}
                    {{ form.gender }}
                </div>
                <div class="form-group">
                    {{ form.personal_email.label_tag }}
                    {{ form.personal_email }}
                </div>
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    {{ form.date_of_birth.label_tag }}
                    {{ form.date_of_birth }}
                </div>
                <div class="form-group">
                    {{ form.state_of_origin.label_tag }}
                    {{ form.state_of_origin }}
                </div>
                <div class="form-group">
                    {{ form.next_of_kin_name.label_tag }}
                    {{ form.next_of_kin_name }}
                </div>
                <div class="form-group">
                    {{ form.next_of_kin_email.label_tag }}
                    {{ form.next_of_kin_email }}
                </div>
                <div class="form-group">
                    {{ form.next_of_kin_phone_number.label_tag }}
                    {{ form.next_of_kin_phone_number }}
                </div>
                <div class="form-group">
                    {{ form.staff_status.label_tag }}
                    {{ form.staff_status }}
                </div>
                <div class="form-group">
                    {{ form.dept.label_tag }}
                    {{ form.dept }}
                </div>
                <div class="form-group">
                    {{ form.job_title.label_tag }}
                    {{ form.job_title }}
                </div>

                
                <input class="btn btn-primary mr-2" value="Create User" type="submit">
                <a href="{% url 'organization:admin_dashboard' org_slug=user.organization.slug %}" class="btn btn-danger">Cancel</a>
                

            </form>
        </div>
    </div>
</div>


{% endblock %}