{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper" style="margin-top: 25px;">
    
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
                <h4 class="card-title">Create Staff From CSV </h4>
                <p class="card-description">
                    Upload CSV file with staff details to create one or more staffs
                </p>
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <form method="POST" enctype="multipart/form-data" class="forms-sample">

                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Oops! There was an error:</strong>
                        <ul>
                        {% for field, error in form.errors.items %}
                            {% if field != NON_FIELD_ERRORS %}
                            <li>{{ field }}: {{ error }}</li>
                            {% else %}
                            <li>{{ error }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form.file}}
                    </div>

                    <div class="mt-3">
                        <button class="btn btn-primary btn-icon-text mr-2" type="submit"><i class="ti-upload btn-icon-prepend"></i>Upload</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}