{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div>
    <h2>How do you want to create Staff?<h2>
  </div>

  <div class="row mt-5">

      <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-tale">
          <div class="card-body d-flex justify-content-center align-items-center">
            <h3 class=" mb-2 display3"> <a style="color: inherit;" href="{% url 'organization:staff_create_form' org_slug=user.organization.slug %}">Create Staff With Form</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-6 grid-margin stretch-card">
          <div class="card card-tale">
            <div class="card-body d-flex justify-content-center align-items-center">
              <h3 class=" mb-2 display"> <a style="color: inherit;" href="{% url 'organization:staff_create_csv' org_slug=user.organization.slug %}">Create Staff/s from CSV</a></h3>
            </div>
          </div>
        </div>

  </div>
</div>
{% endblock %}