{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
            <h4 class="card-title">Query Response Form</h4>
            <p class="card-description">
                Respond to this query to dispute it
            </p>
            <form method="POST" class="forms-sample">

                {% csrf_token %}
                {% if form.errors %}
                  <div class="alert alert-danger">
                    <strong>Oops! There was an error:</strong>
                    <ul>
                      {% for field, error in form.errors.items %}
                        {% if field != NON_FIELD_ERRORS %}
                          <li>{{ field }}: {{ error }}</li>
                        {% else %}
                          <li>{{ error }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <div class="form-group">
                    {{ form.response.label_tag }}
                    {{ form.response }}
                </div>
                
                <div class="mt-3">
                    <input class="btn btn-primary mr-2" value="Submit" type="submit">
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}