{% extends 'base.html' %}

{% block content %}

<h1>All Queries</h1>

<ul>
    {% for query in query_list %}

    <li>
        <p><strong>Query Reason:</strong> {{ query.reason }}</p>
        {% if not query.is_responded %}
        <p><a href="{% url 'staff:query_response' org_slug=user.staff.organization.slug pk=query.pk %}">Dispute Query</a></p>
        {% else %}
        <p><strong>Query Response:</strong> {{ query.response }}</p>
        <p class="text-danger">Resolved</p>
        {% endif %}

    </li>
    
    {% empty %}
        <p>No Queries found.</p>
    {% endfor %}

</ul>

{% endblock%}