{% extends 'base.html' %}

{% block  content %}

<h1>
    {{ user.staff.first_name }} {{ user.staff.last_name }}
</h1>
<h2>
    <small class="text-muted">
        {{ user.staff.dept.name }} : {{ user.staff.job_title.role }}
  </small>
</h2>

<div class="card-header bg-transparent">
    {% if user.staff.userprofile.profile_picture %}
    <img class="profile_img" src="{{ user.staff.userprofile.profile_picture.url }}" alt="staff photo">
    {% else %}
    <img class="profile_img" src="" alt="staff photo">
    {% endif %}
</div>
<p><a class="btn btn-primary mt-3" href="{% url "staff:upload_photo" org_slug=user.staff.organization.slug %}">Upload New Image</a></p>

<p> <strong>Gender:</strong> {{ user.staff.gender }}</p>
<p> <strong>Personal Email:</strong> {{ user.staff.personal_email }}</p>
<p> <strong>Work Email:</strong> {{ user.staff.work_email }}</p>
<p> <strong>Username:</strong> {{ user.staff.username }}</p>
<p> <strong>Phone number:</strong> {{ user.staff.phone_number }}</p>
<p> <strong>Date of Birth:</strong> {{ user.staff.date_of_birth }}</p>
<p> <strong>State of Origin:</strong> {{ user.staff.state_of_origin }}</p>
<p> <strong>Staff Status:</strong> {{ user.staff.staff_status }}</p>


{% endblock %}